@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

:root {
  --main-margin: 20px;
  --item-size: 30px;
  --board-cells-nr: 20;
  --border-radius: 4px;
  --board-size: calc(var(--item-size) * var(--board-cells-nr) + 2px);
  --board-color: #131414;
  --item-color: #1f7d81;
  --food-color: #b97c09;
  --game-over-color: #6E4803;
  --btn-color: #0e294b;
  --btn-hover-color: #1a406e;
  --btn-disabled-color: #535c68;
  --input-disabled-color: #535c6850;
  --btn-height: 44px;
  --gap: 7px;
  --body-color: rgb(216, 216, 216);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}

h1,
h2,
h3,
p,
span,
p,
button,
label {
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-color);
}

.board {
  position: relative;
  border: 1px solid var(--board-color);
  display: grid;
  grid-template-columns: repeat(var(--board-cells-nr), var(--item-size));
  grid-template-rows: repeat(var(--board-cells-nr), var(--item-size));
  border-radius: var(--border-radius);
  background-color: var(--board-color);
  -webkit-box-shadow: 9px 9px 10px -9px rgba(12, 12, 12, 1);
  -moz-box-shadow: 9px 9px 10px -9px rgba(12, 12, 12, 1);
  box-shadow: 9px 9px 10px -9px rgba(12, 12, 12, 1);
}

.item {
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: var(--item-color);
  border: 1px solid var(--board-color);
  border-radius: var(--border-radius);
  justify-self: center;
  align-self: center;
  width: var(--item-size);
  height: var(--item-size);
  -webkit-box-shadow: 0px 0px 13px -3px rgba(39, 155, 160, 0.21);
  -moz-box-shadow: 0px 0px 13px -3px rgba(39, 155, 160, 0.21);
  box-shadow: 0px 0px 13px -3px rgba(39, 155, 160, 0.21);
}

.food {
  grid-column-start: 8;
  grid-row-start: 8;
  justify-self: center;
  align-self: center;
  width: calc(var(--item-size) - 2px);
  height: calc(var(--item-size) - 2px);
  background-color: var(--food-color);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 25px -6px rgba(200, 136, 10, 1);
  -moz-box-shadow: 0px 0px 25px -6px rgba(200, 136, 10, 1);
  box-shadow: 0px 0px 25px -6px rgba(200, 136, 10, 1);
}

.scores {
  display: flex;
}

.scores__title {
  font-size: 1.4rem;
}

.scores__number {
  font-size: 1.4rem;
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
  width: var(--board-size);
}

.info__scores-title,
.info__speed-title {
  font-size: 1.4rem;
}

.info__scores-number,
.info__speed-number {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  width: 30px;
}

.board__game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--board-size);
  padding-top: 10px;
  text-align: center;
  font-size: 3.2rem;
  color: var(--game-over-color);
  text-shadow: 0px 0px 25px #553802;
  font-weight: bold;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.807);
}

.ui {
  margin-top: var(--main-margin);
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  justify-content: center;
  width: var(--board-size);
}

button {
  flex-grow: 1;
  flex-basis: 30%;
  height: var(--btn-height);
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: var(--btn-hover-color);
}

.ui__speed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--btn-height);
  border: 1px solid var(--btn-color);
  border-radius: var(--border-radius);
  color: var(--btn-color);
  flex-basis: 100%;
  display: flex;
}

.ui__speed-label {
  transform: translateY(2px);
  font-size: 1.1rem;
}

.ui__speed-input {
  transform: translateY(2px);
  flex-basis: 50%;
  margin: 0 calc(var(--main-margin) /2);
  cursor: pointer;
}

button:disabled,
button[disabled] {
  opacity: 0.3;
  background-color: var(--btn-disabled-color);
}

.disable {
  color: var(--input-disabled-color);
  border-color: var(--input-disabled-color);
}