:root {
  --border-color: grey;
  --board-size: 402px;
  --item-size: 40px;
  --item-color: rgb(97, 97, 113);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
p,
span,
p,
button {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin-top: 50px;
  width: var(--board-size);
  height: var(--board-size);
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(10, var(--item-size));
  grid-template-rows: repeat(10, var(--item-size));
}

.item {
  border: 1px solid white;
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: var(--item-color);
}

.item:nth-child(1) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.item:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 1;
}


button {
  margin-top: 20px;
  padding: 5px 30px;
  width: 120px;
  cursor: pointer;
}