:root {
  --main-margin: 20px;
  --board-cells-nr: 15;
  --border-color: grey;
  --item-size: 35px;
  --board-size: calc(var(--item-size) * var(--board-cells-nr) + 2px);
  --item-color: rgb(97, 97, 113);
  --food-color: rgb(196, 139, 34);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
p,
span,
p,
button {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  margin-top: var(--main-margin);
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(var(--board-cells-nr), var(--item-size));
  grid-template-rows: repeat(var(--board-cells-nr), var(--item-size));
}

.item {
  border: 1px solid white;
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: var(--item-color);
}

.item:nth-child(1) {
  grid-column-start: 2;
  grid-row-start: 1;
}

.item:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 1;
}

.item:nth-child(3) {
  grid-column-start: 4;
  grid-row-start: 1;
}

.food {
  grid-column-start: 8;
  grid-row-start: 8;
  background-color: var(--food-color);
  border: 1px solid white;
}

.scores {
  display: flex;
  margin-top: var(--main-margin);
}

.scores__title {
  font-size: 1.4rem;
}

.scores__number {
  font-size: 1.4rem;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 5px 30px;
  width: 120px;
  cursor: pointer;
}

.info {
  margin-top: var(--main-margin);
  display: flex;
  justify-content: space-between;

  width: var(--board-size);
}

.info__scores-title,
.info__speed-title {
  font-size: 1.4rem;
}

.info__scores-number,
.info__speed-number {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  width: 30px;
}

.speed {
  display: flex;
}

.speed__label {
  margin-right: 10px;
}

.speed__input {
  margin: 0 calc(var(--main-margin) /2);
  cursor: pointer
}

.speed__nr {
  display: block;
  width: 30px;
  text-align: center;
}

.disable {
  color: grey;
}